@model IEnumerable<BSAF16072021.Models.Trainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class=" row">
    <div class="col-sm-10">
        <h4 class="text-info text-right"><center>Manage trainers account</center></h4>
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Create New", "Create", new { @Controller = "Trainers"}, new { @class = "btn btn-success"})
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                Trainer username
            </th>
            <th>
                Trainer password
            </th>
            <th>
                Trainer email
            </th>
            <th>
                Telephone
            </th>
            <th>
                Address
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.dadelete)
            </th>
             -->
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.trainer_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trainer_password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trainer_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trainer_telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trainer_address)
                </td>
                <!--
                <td>
                    @Html.DisplayFor(modelItem => item.dadelete)
                </td>
                 -->
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.trainer_id }, new { @class = "btn btn-xs btn-warning"}) 
                    @Html.ActionLink("Details", "Details", new { id = item.trainer_id }, new { @class = "btn btn-xs btn-info" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.trainer_id }, new { @class = "btn btn-xs btn-danger" })
                </td>
            </tr>
        }

    </table>

</div>
