@model IEnumerable<BSAF16072021.Models.TopicTrainer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/training/Views/Shared/_TrainingLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr> 
        <th>
            @Html.DisplayNameFor(model => model.Topic.topic_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trainer.trainer_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Topic.topic_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trainer.trainer_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_topictrainer }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_topictrainer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_topictrainer })
        </td>
    </tr>
}

</table>
