@model BSAF16072021.Models.Topic

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/training/Views/Shared/_TrainingLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Topic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.topic_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topic_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topic_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topic_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dadelete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dadelete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.course_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.topic_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
